* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  margin-top: 5px;
  display: flex;
  width: 1024px;
  justify-content: center;
  align-items: center;
}

.health {
  width: 400px;
  height: 35px;
  border: 5px solid #f2e6d8;
  background: #d9a648;
}

.health_column {
  display: block;
  background: #f2133c;
  width: 100%;
  height: 100%;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
  border: 5px solid #f2e6d8;
  background: #000;
}

#counter {
  color: #f2e6d8;
}

#canvas {
  background: #f2e6d8;
}

#result {
  position: absolute;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 1024px;
  height: 576px;
}

#text_result {
  display: none;
}

/* button select */
#select-container {
  position: absolute;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 1024px;
  height: 576px;
  flex-direction: column;
}
.start-btn {
  width: 150px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 4px 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}

#setting {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.config-button {
  text-shadow: 1px 1px pink, -1px -1px maroon;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 3.5em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  background-color: red;
  -webkit-box-shadow: 0 0.2em maroon;
  -moz-box-shadow: 0 0.2em maroon;
  -o-box-shadow: 0 0.2em maroon;
  box-shadow: 0 0.2em maroon;
  color: red;
  margin: 5px;
  background-color: red;
  background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  background-image: -moz-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: -webkit-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  cursor: pointer;
  padding-left: 5px;
}
.config-button:active,
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

#input-room {
  font-size: 10px;
  width: 150px;
  height: 40px;
  text-align: left;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px;
  background-color: #fff;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  outline: auto;
}

#exit-btn {
  position: absolute;
  top: 14px;
  right: 1111px;
}
